#main-content {
    position: relative;
    overflow: hidden;
}

/* Make sure the canvas covers the entire background */
#matrix-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black; /* Matrix background */
    z-index: 0; /* Behind cards */
}

/* Card styles remain the same */
.card-body {
    position: relative; /* So it sits above canvas */
/*    background-color: #343434;
    border: #222222 2px solid;*/
    border-radius: 15px;
    z-index: 1;
}

.card {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.glass-panel {
    transition-duration: 0;
}

footer{
    display:none;
}
